{% extends "master.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block navbar %}
{% include "navbar.html" with first_name=request.user.first_name %}
{% endblock %}

{% block content %}
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 200px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="
          margin-top: -100px;
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Change Password</h2>
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                      </div>
                    {% endfor %}
            {% endif %}
            <form method = "POST">
                {% csrf_token %}
  
              <div data-mdb-input-init class="form-outline mb-2">
                <input type="password" id="password" name= "password" class="form-control" placeholder="Enter current password"/>
                <label class="form-label" for="password">Old Password</label>
              </div>
              <div data-mdb-input-init class="form-outline mb-2">
                <input type="password" id="new_password" name= "new_password" class="form-control" placeholder="Enter new password"/>
                <label class="form-label" for="new_password">New Password</label>
              </div>
              <div data-mdb-input-init class="form-outline mb-2">
                <input type="password" id="confirm_password" name= "confirm_password" class="form-control" placeholder="Enter confirm password"/>
                <label class="form-label" for="confirm_password">Confirm Password</label>
              </div>
  
              <!-- Submit button -->
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                Change Password
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}